.centralizar {
     text-align: center;
font-style: oblique;
color: rgb(46, 163, 16);}
h2 { 
    color: rgba(116, 252, 116, 0.918);
    text-align: center;
    background-color: rgb(65, 109, 14);
}
h3 {
    text-align: right;
    color: chartreuse;
    font-size: 150px;
    margin-top: 0px;
}
body {
    background-color: rgb(63, 59, 40);
}
.dias {
    background-color: rgb(90, 60, 39);
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 30px;
}